*{
    padding:0;
    margin:0;
    background-color:#010b1d;
    color:white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    margin:0.5cm;
}
.link a{
    cursor:pointer;
}
.link a:hover{
    color:orangered;
    border-bottom:1px solid white;
    padding-bottom: 0.1cm;

}
.body-content{
    margin-left:4cm;
    margin-top: 2.5cm;
    margin-right: 4cm;
    display: flex;
    



}
#start-button{
    margin-top: 0.5cm;
    background-color: rgb(255, 38, 0);
    border:2px solid grey;
    border-radius: 4rem;
    width:3cm;
    height:1cm;


}
.content{
    width:8cm;
    margin-top: 1cm;
    margin-left:0cm;
}
.body-content p{
    margin-top: 0.2cm;
    color:grey;
}
.signup{
    display: flex;
    flex-direction: column;
    margin-left:7cm;
    margin-top: 0cm;
    border:2px solid grey;
    border-radius: 2rem;
    width:8cm;
    height:8cm;
    
padding: 1cm;
padding-top: 1cm;
}
.signup p{
    color:white;

}
#input{
    width:6cm;
    background-color: transparent;
    border:1px solid grey;
    border-radius: 2rem;
    height:0.5cm;
    padding: 0.2cm;
    margin:0.2cm;
    margin-left: 0.7cm;
}
.signup button{
    background-color: orangered;
    border:1px solid grey;
    border-radius: 4rem;
    width:3.5cm;
    height:1cm;
    margin-left: 2cm;
}
.alternate{
    display: flex;
    flex-direction: column;
    margin-left: 1cm;


}
.alternate #or{
    margin-left: 1.3cm;
}
.alternate p{
    color:grey;

}
.alternate a{
    color:orangered;
    cursor:pointer;
    margin-left: 0.2cm;
}

.logo img{
    width:3cm;
    height:fit-content;
    margin-left: 2cm;
}
